<style>
 .daterangepicker{position: absolute;}
</style>


<!-- Add Schedule Form -->
<!-- ko if: $root.currentScheduleSelectForm() !== undefined -->
<!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm() !== undefined -->
<div class="modal hide fade" id ="adddialog" data-bind=" draggable: {handle: '.modal-header'}" style="cursor:move; width:400px; overflow-x:hidden;">
    <div class="modal-header" style="overflow-x:hidden;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>Добавить занятие</h5>
    </div>
    <div class="modal-body" style="overflow-x:hidden;">

        <!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm() !== undefined -->
        <!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm().validateScheduleForm() !== undefined -->
        
        <!-- ko ifnot: $root.currentScheduleSelectForm().currentScheduleAddForm().validateScheduleForm().canDo() -->
         <!-- ko ifnot: $root.currentScheduleSelectForm().currentScheduleAddForm().validateScheduleForm().doingSuccess() -->
        <div class="alert alert-error">
            <div id="validatemessage2" class="hide">В выбранный Вами день, время и тип недели уже проводится другое занятие. <strong style="cursor:pointer;" data-bind="">Сделать замену занятия</strong> </div>
            <div id="validatemessage3" class="hide">Не выбран день недели</div>
            <div id="validatemessage4" class="hide">Не выбрана аудитория</div>
            <div id="validatemessage5" class="hide">Не выбрано время проведения занятия</div>
            <div id="validatemessage6" class="hide">Не выбрано сведение к расписанию</div>
            <div id="validatemessage7" class="hide">Не выбран тип недели</div>
            <div id="validatemessage8" class="hide">Не указана дата начала занятия</div>
            <div id="validatemessage9" class="hide">Не указана дата окончания занятия</div>
            <div id="validatemessage10" class="hide">Дата начала занятия больше даты окончания</div>
        </div>
        <!-- /ko --> 
        <!-- /ko --> 

        <!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm().validateScheduleForm().canDo() -->
        <div class="alert alert-success">
                Вы можете добавить занятие
        </div>
         <!-- /ko --> 

         <!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm().validateScheduleForm().doingSuccess() -->
        <div class="alert alert-success">
                Занятие успешно добавлено
        </div>
         <!-- /ko --> 

         <!-- /ko --> 
         <!-- /ko --> 
      
  

        <!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm().scheduleInfo() !== undefined -->
      
        <table>
             <tr>
                <th style="text-align:left;"><span class="label">Идет с</span></th>
                <th style="text-align:left;"><span class="label">Идет по</span></th>
              </tr>
            <tr>
                <td>
                <input style="width:150px; height:30px;" type="date" id="startDate" data-bind="value:$root.currentScheduleSelectForm().currentScheduleAddForm().startDate, valueUpdate: 'blur'"/> 
                </td>
                <td>
                <input  style="width:150px; height:30px;" type="date" id="endDate" data-bind="value:$root.currentScheduleSelectForm().currentScheduleAddForm().endDate, valueUpdate: 'blur'" />
                </td>
               </tr>
          </table>
             
        <input type="checkbox" id="delAfter" data-bind="checked: $root.currentScheduleSelectForm().currentScheduleAddForm().autoDelete" /> 
        <span>удалить после истечения срока ?</span>
        <br />
              
        <span class="label">День недели</span>
        <select style="width:100%"  data-placeholder="Выберите день недели" class="span5" id="dayofweek" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().days, optionsText: 'Name', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentDay">
            <option></option>
        </select>

        <span class="label">Тип недели</span>
        <select style="width:100%"  data-placeholder="Выберите тип недели" class="span5" id="weektype" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().weekTypes, optionsText: 'Name', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentWeekType">
            <option></option>
        </select>
          
        <span class="label">Время</span>
        <select style="width:100%" data-placeholder="Выберите время" class="span5" id="times" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().times, optionsText: 'StartEnd', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentTime">
            <option></option>
        </select>
    
        <span class="label">Тип аудитории</span>
        <select style="width:100%"  data-placeholder="Выберите тип аудитории" class="span5" id="auditoriumType" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().auditoriumTypes, optionsText: 'Name', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentAuditoriumType">
            <option></option>
        </select>
        
    
        <span class="label">Аудитория</span>
        <select style="width:100%"  data-placeholder="Выберите аудиторию" class="span5" id="auditorium" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().auditoriums, optionsText: 'Number', value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentAuditorium">
            <option></option>
        </select>
     
        <span class="label">Подгруппа</span> <br />
        <select style="width:100%"  data-placeholder="Выберите подгруппу" class="span5" id="subgroup" data-bind="options: $root.currentScheduleSelectForm().currentScheduleAddForm().subGroups, value: $root.currentScheduleSelectForm().currentScheduleAddForm().currentSubGroup">
            <option></option>
        </select> <br />

        
        
        <!-- /ko -->  
        <!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm().scheduleInfo() == undefined -->
        <strong>Для добавления занятия сначала выберите сведение к расписанию</strong>
        <!-- /ko --> 

    </div>

    <div class="modal-footer" style="overflow-x:hidden;">
            
             <!-- ko if: $root.currentScheduleSelectForm().currentScheduleAddForm().scheduleInfo() !== undefined -->
            <input id="ScheduleOkButton" type="button" class="btn btn-primary disabled" value="Добавить" data-bind="click: $root.currentScheduleSelectForm().currentScheduleAddForm().addButtonPress.bind($data,true)" />
            <input id="ScheduleOkButtonWithClose" type="button" class="btn btn-primary disabled" value="Добавить и закрыть" data-bind="click: $root.currentScheduleSelectForm().currentScheduleAddForm().addAndCloseButtonPress.bind($data,true)" />
             <!-- /ko --> 
             

            <a id="addScheduleCancelButton" style="cursor:pointer;" data-bind="click: $root.currentScheduleSelectForm().currentScheduleAddForm().closeDialog.bind($data,true)" > Отмена</a>
    </div>
</div>
 <!-- /ko -->  
<!-- /ko -->