<!-- ko if: $root.currentFlowSelectForm() !== undefined -->
<div id ="flowdialogintable" style=" width:250px; overflow-x:hidden; padding-left:5px;">
    <div>
            <span class="label">Выберите подразделение ВУЗа</span>
            <select style="width:100%" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().branches, optionsText: 'Name', value: $root.currentFlowSelectForm().currentBranch">
                            <option></option>
            </select>

            <span class="label">Выберите факультет</span>
            <select style="width:100%" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().faculties, optionsText: 'Name', value: $root.currentFlowSelectForm().currentFaculty">
                            <option></option>
            </select>

            <span class="label">Выберите курсы</span>
            <select multiple style="width:100%" size="5" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().courses, optionsText: 'Name', selectedOptions: $root.currentFlowSelectForm().currentCourses">
                            <option></option>
            </select>

            <span class="label">Выберите специальности</span>
            <select multiple style="width:100%" size="5" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().specialities, optionsText: 'Name', selectedOptions: $root.currentFlowSelectForm().currentSpecialities">
                            <option></option>
            </select>

            <span class="label">Выберите группы</span>
            <select multiple style="width:100%" size="6" class="span5" id="" data-bind="options: $root.currentFlowSelectForm().groups, optionsText: 'Code', selectedOptions: $root.currentFlowSelectForm().currentGroups">
                            <option></option>
            </select>
    </div>
</div>

<!-- /ko --> 
