@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type='text/javascript' src="@Url.Content("~/Scripts/Site/newbase.viewmodel.js")"></script>

<body style="overflow-x:hidden; background-color:#E0E0E0;">
    @Html.Partial("NewCreate/Forms")

        
</body>





 
 
 
  
 
  
 