<!-- Print Setting Form -->

<!-- ko if: $root.currentPrintSettingForm() !== undefined -->
<div class="modal hide fade" id ="printsettingdialog" data-bind="draggable: {handle: '.modal-header'}" style="cursor:move; width:610px; overflow-x:hidden;">
  <div class="modal-header" style="overflow-x:hidden; ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5>Настройки отчета</h5>

     <strong data-bind="text:$root.currentPrintSettingForm().title"></strong>
  </div>
  <div class="modal-body" style="cursor:default; overflow-x:hidden;">
      <div style="float:left;">
          @Html.Partial("NewCreate/FlowSelectForPrint")
      </div>

      <div style="margin-left:270px;">
      <table>
         <tr>
            <th style="text-align:left;"><span class="label">Идут с</span></th>
            <th style="text-align:left;"><span class="label">Идут по</span></th>
         </tr>
         <tr>
            <td>
              <input style="width:150px; height:30px;" type="date" id="startDate" data-bind="value:$root.currentPrintSettingForm().startDate, valueUpdate: 'blur'"/> 
            </td>
            <td>
              <input  style="width:150px; height:30px;" type="date" id="endDate" data-bind="value:$root.currentPrintSettingForm().endDate, valueUpdate: 'blur'" />
            </td>
         </tr>
      </table>

     

     <span class="label">Размер шрифта</span> <br />
     <input style="width: 100px;" data-bind="spinner: $root.currentPrintSettingForm().fontSize, spinnerOptions: { min: 1, max:100 } " /> pt <br />
     
     </div>

  </div>
  <div class="modal-footer" style="cursor:default; overflow-x:hidden;">
       <input type="button" class="btn btn-primary" value="Создать отчет" data-bind="click: $root.currentPrintSettingForm().makeReport.bind($data,true)" />  
       <a style="cursor:pointer;" data-bind="click: $root.currentPrintSettingForm().closeDialog.bind($data,true)" >Отмена</a>
  </div>
</div>
<!-- /ko -->