<!-- Print Setting Form -->

<!-- ko if: $root.currentPrintSettingForm() !== undefined -->
<div class="modal hide fade" id ="printsettingdialog" data-bind="draggable: {handle: '.modal-header'}" style="cursor:move; width:610px; overflow-x:hidden;">
  <div class="modal-header" style="overflow-x:hidden; ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h5>Настройки отчета</h5>

     <strong data-bind="text:$root.currentPrintSettingForm().title"></strong>
  </div>
  <div class="modal-body" style="cursor:default; overflow-x:hidden;">
      <div style="float:left;">
          @Html.Partial("NewCreate/FlowSelectForPrint")
          <br />
          <input type="button" class="btn btn-primary" value="Создать отчет по потоку" data-bind="click: $root.currentPrintSettingForm().makeReport.bind($data,true)" />  
      </div>

      <div style="margin-left:270px;">
      <table>
         <tr>
            <th style="text-align:left;"><span class="label">Идут с</span></th>
            <th style="text-align:left;"><span class="label">Идут по</span></th>
         </tr>
         <tr>
            <td>
              <input style="width:150px; height:30px;" type="date" id="startDate" data-bind="value:$root.currentPrintSettingForm().startDate, valueUpdate: 'blur'"/> 
            </td>
            <td>
              <input  style="width:150px; height:30px;" type="date" id="endDate" data-bind="value:$root.currentPrintSettingForm().endDate, valueUpdate: 'blur'" />
            </td>
         </tr>
      </table>
     <span class="label">Размер шрифта</span> <br />
     <input style="width: 100px;" data-bind="spinner: $root.currentPrintSettingForm().fontSize, spinnerOptions: { min: 1, max:100 } " /> pt <br />
     
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <br />
     <!-- ko if: $root.currentPrintSettingForm().currentLecturerSelectForPrintForm() !== undefined -->
     <span class="label">Выбор преподавателя</span>
     <input id="lecturerSelect" type="text" data-bind="value: $root.currentPrintSettingForm().currentLecturerSelectForPrintForm().lecturerText, valueUpdate: 'afterkeydown'"/>  
      <br />
          <div data-bind="foreach: $root.currentPrintSettingForm().currentLecturerSelectForPrintForm().lecturers ">
              <span class="label" style="background-color:blue;" data-bind="$root.currentPrintSettingForm().currentLecturerSelectForPrintForm().lecturers()[$index()].Name"></span>
          </div>
     <!-- /ko -->

     <div>
         @Html.Partial("NewCreate/AuditoriumSelectForPrint")
     </div>
     <br />
     <input type="button" class="btn btn-primary" value="Создать отчет по аудитории" data-bind="click: $root.currentPrintSettingForm().makeReportForAuditorium.bind($data,true)" />   
     <input type="button" class="btn " value="Скачать Excel документ" data-bind="click: $root.currentPrintSettingForm().dowloadReportXls.bind($data,true)" />   
     <br />
     

     
     </div>

  </div>
  <div class="modal-footer" style="cursor:default; overflow-x:hidden;">
      
       <a style="cursor:pointer;" data-bind="click: $root.currentPrintSettingForm().closeDialog.bind($data,true)" >Закрыть</a>
  </div>
</div>
<!-- /ko -->